In [1]:
import pandas as pd
import os
# List of datasets to merge
import pandas as pd

df_health_2022 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/health2022.csv', delimiter=';', on_bad_lines='skip')
print(df_health_2022.head())
df_health_2023 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/health2023.csv', delimiter=';', on_bad_lines='skip')
df_socialmedia_2022 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/socialmedia2022.csv', delimiter=';', on_bad_lines='skip')
df_religion_2022 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/religion2022.csv', delimiter=';', on_bad_lines='skip')
df_personality_2022 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/personality2022.csv', delimiter=';', on_bad_lines='skip')
df_snacking_2022 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/snacking2022.csv', delimiter=';', on_bad_lines='skip')
df_background_2022 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/background2022.csv', delimiter=';', on_bad_lines='skip')
df_background_2023 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/background2023.csv', delimiter=';', on_bad_lines='skip')
df_politics_2022 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/politics2022.csv', delimiter=';', on_bad_lines='skip')

   nomem_encr  ch22o_m ch22o001 ch22o002 ch22o003  ch22o004  ch22o005  \
0      800001   202211        1       61        1         2         3
1      800002   202211        1       45        1         4         3
2      800009   202211        1       67        1         2         2
3      800015   202211        1       60        1         3         3
4      800028   202211        1       72        0         3         3

  ch22o006 ch22o007 ch22o008  ... ch22o250 ch22o251 ch22o252 ch22o253  \
0        5        3           ...        2        4        2        4
1        9        8           ...        2        4        2        3
2                 7        7  ...        1        5        1        3
3        8        7           ...        1        5        5        5
4                          7  ...        1        5        3        3

  ch22o254    ch22o255  ch22o256    ch22o257  ch22o258 ch22o259
0        4  22-11-2022  17:07:13  22-11-2022  17:31:06     1433
1        3  11-11-2022  18:26:22  11-11-2022  18:42:55      993
2        3  28-11-2022  21:09:49  28-11-2022  21:17:26      457
3        1  13-11-2022  14:29:52  13-11-2022  14:35:51      359
4        3  07-11-2022  13:46:06  07-11-2022  13:52:03      357

[5 rows x 209 columns]

C:\Users\u1246538\AppData\Local\Temp\ipykernel_2528\2925165898.py:11: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_personality_2022 = pd.read_csv('C:/Users/u1246538/Downloads/liss-data/personality2022.csv', delimiter=';', on_bad_lines='skip')

In [2]:
print(f"df_health_2022: {df_health_2022.shape}")
print(f"df_health_2023: {df_health_2023.shape}")
print(f"df_socialmedia_2022: {df_socialmedia_2022.shape}")
print(f"df_religion_2022: {df_religion_2022.shape}")
print(f"df_personality_2022: {df_personality_2022.shape}")
print(f"df_snacking_2022: {df_snacking_2022.shape}")
print(f"df_background_2022: {df_background_2022.shape}")
print(f"df_background_2023: {df_background_2023.shape}")
print(f"df_politics_2022: {df_politics_2022.shape}")

df_health_2022: (5832, 209)
df_health_2023: (6058, 209)
df_socialmedia_2022: (5884, 437)
df_religion_2022: (6055, 69)
df_personality_2022: (5836, 159)
df_snacking_2022: (1128, 115)
df_background_2022: (11260, 34)
df_background_2023: (11824, 34)
df_politics_2022: (6221, 221)

In [54]:
# Extract specific columns from df_health_2022
health22_columns = ['ch22o011', 'ch22o012', 'ch22o013', 'ch22o014', 'ch22o015', 'ch22o162', 'nomem_encr']
df_selected_health22 = df_health_2022[health22_columns]

# Display the first few rows of the extracted DataFrame
print(df_selected_health22.head())
# i take column ch22o167 out of the dataset. bc that column was mostly empty, most people do not use hallocigens.

  ch22o011 ch22o012 ch22o013 ch22o014 ch22o015 ch22o162  nomem_encr
0        2        2        4        2        4        1      800001
1        4        1        4        1        5        1      800002
2        1        1        5        1        4        1      800009
3        1        1        4        1        4        1      800015
4        2        1        5        1        5        1      800028

In [56]:
# Extract specific columns from df_health_2023
#let op ik heb psychedelic columns of 2023 niet nodig.
health23_columns= ['ch23p011', 'ch23p012', 'ch23p013', 'ch23p014', 'ch23p015', 'nomem_encr']
df_selected_health23 = df_health_2023[health23_columns]

# Display the first few rows of the extracted DataFrame
print(df_selected_health23.head())

  ch23p011 ch23p012 ch23p013 ch23p014 ch23p015  nomem_encr
0        3        1        4        3        4      800002
1        1        1        5        2        4      800009
2        1        1        4        1        3      800015
3        2        1        4        1        4      800028
4        6        4        2        4        3      800034

In [9]:
# Extract specific columns from df_personality_2022 ( extracted columns are: bigfive, self-esteem and values.geen optimism)
target_columns_personality = ['nomem_encr']

# Adding the specified ranges of columns
target_columns_personality.extend([f'cp22n{i:03}' for i in range(20, 30)])  # cp22n020 to cp22n029
target_columns_personality.extend([f'cp22n{i:03}' for i in range(30, 40)])  # cp22n030 to cp22n039
target_columns_personality.extend([f'cp22n{i:03}' for i in range(40, 50)])  # cp22n040 to cp22n049
target_columns_personality.extend([f'cp22n{i:03}' for i in range(50, 60)])  # cp22n050 to cp22n059
target_columns_personality.extend([f'cp22n{i:03}' for i in range(60, 70)])  # cp22n060 to cp22n069
target_columns_personality.extend([f'cp22n{i:03}' for i in range(70, 80)])  # cp22n070 to cp22n079
target_columns_personality.extend([f'cp22n{i:03}' for i in range(99, 117)]) # cp22n099 to cp22n116
target_columns_personality.extend([f'cp22n{i:03}' for i in range(117, 135)]) # cp22n117 to cp22n134

# Create a new DataFrame with the selected columns
df_selected_personality22 = df_personality_2022[target_columns_personality]

# Display the first few rows of the extracted DataFrame
print(df_selected_personality22.head())

   nomem_encr cp22n020 cp22n021 cp22n022 cp22n023 cp22n024 cp22n025 cp22n026  \
0      800002        3        2        4        3        4        4        4
1      800009        4        1        4        4        5        2        5
2      800015        2        3        4        2        4        4        4
3      800028        3        2        3        2        4        3        4
4      800057        4        2        4        1        5        1        5

  cp22n027 cp22n028  ... cp22n125 cp22n126 cp22n127 cp22n128 cp22n129  \
0        3        4  ...        7        6        5        5        5
1        2        3  ...        4        4        3        6        5
2        1        4  ...        3        5        3        7        7
3        2        4  ...        1        5        4        5        7
4        4        4  ...        1        5        5        5        7

  cp22n130 cp22n131 cp22n132 cp22n133 cp22n134
0        6        6        5        5        3
1        4        7        6        3        4
2        7        7        7        1        3
3        5        6        6        5        5
4        6        6        7        5        6

[5 rows x 97 columns]

In [11]:
# Extract specific columns from df_snacking_2022
target_columns_snacking = ['uy22a016', 'uy22a015', 'nomem_encr']

# Create a new DataFrame with the selected columns
df_selected_snacking22 = df_snacking_2022[target_columns_snacking]

# Display the first few rows of the extracted DataFrame
print(df_selected_snacking22.head())

  uy22a016 uy22a015  nomem_encr
0        1        1      800015
1        4        2      800100
2        1        4      800201
3        2        3      800215
4        2        1      800228

In [13]:
# Extract specific columns from df_religion_2022
target_columns_religion = ['cr22o143', 'cr22o144', 'nomem_encr']

# Create a new DataFrame with the selected columns
df_selected_religion22 = df_religion_2022[target_columns_religion]

# Display the first few rows of the extracted DataFrame
print(df_selected_religion22.head())

   cr22o143 cr22o144  nomem_encr
0         2               800001
1         1        5      800002
2         1        2      800009
3         2               800015
4         2               800028

In [15]:
# Extract specific columns from df_socialmedia_2022
target_columns_socialmedia = [
    'nomem_encr', 
    'cs22o439', 
    'cs22o487', 
    'cs22o280', 
    'cs22o436', 
    'cs22o472', 
    'cs22o473', 
    'cs22o474', 
    'cs22o577', 
    'cs22o578', 
    'cs22o579', 
    'cs22o580', 
    'cs22o581'
]

# Create a new DataFrame with the selected columns
df_selected_socialmedia22 = df_socialmedia_2022[target_columns_socialmedia]

# Display the first few rows of the extracted DataFrame
print(df_selected_socialmedia22.head())

   nomem_encr cs22o439 cs22o487 cs22o280 cs22o436 cs22o472 cs22o473 cs22o474  \
0      800001        0        0        3        3        5        5        2
1      800002       ,5        0        2        6        3        5        5
2      800009        5        1        1        6        1        5        5
3      800015        2        0        0        1        5        5        5
4      800028        0        0        0        1        5        5        5

  cs22o577 cs22o578 cs22o579 cs22o580 cs22o581
0        5        5        5        2        5
1        4        5        5        2        5
2        2        5        5        1        4
3        5        5        5        2        5
4        5        5        5        4        4

In [68]:
# Extract specific columns from df_politics_2022
target_columns_politics = [ 
    'cv23o012', 
    'nomem_encr'
]

# Create a new DataFrame with the selected columns
df_selected_politics22 = df_politics_2022[target_columns_politics]

# Display the first few rows of the extracted DataFrame
print(df_selected_politics22.head())

  cv23o012  nomem_encr
0        2      800001
1        2      800002
2        1      800009
3        1      800015
4        1      800028

In [70]:
# Extract specific columns from df_background_2022
target_columns_background = [
    'nomem_encr', 
    'geslacht', 
    'gender', 
    'gebjaar', 
    'leeftijd', 
    'lftdcat', 
    'lftdhhh', 
    'burgstat', 
    'woonvorm', 
    'herkomstgroep', 
    'oplcat', 
    'brutohh_f', 
    'nettohh_f', 
    'brutoink', 
    'brutoink_f', 
    'nettoink', 
    'nettoink_f'
]

# Create a new DataFrame with the selected columns
df_selected_background22 = df_background_2022[target_columns_background]

# Display the first few rows of the extracted DataFrame
print(df_selected_background22.head())

# Create a new DataFrame with the selected columns
df_selected_background23 = df_background_2023[target_columns_background]

# Display the first few rows of the extracted DataFrame
print(df_selected_background23.head())

   nomem_encr  geslacht  gender  gebjaar  leeftijd  lftdcat lftdhhh  burgstat  \
0      800001         1       1     1961        61        6      61         5
1      800002         1       1     1976        45        5      45         1
2      800009         1     999     1955        67        7      67         1
3      800015         1     999     1962        60        6      60         1
4      800028         1       1     1950        72        7      72         1

   woonvorm herkomstgroep oplcat         brutohh_f nettohh_f  brutoink  \
0         2           201      5  3648,10832897175      2651       -13
1         3             0      4              6300      3960      4250
2         2             0      5  8451,61333892468      5800       -13
3         3           102      6  4813,45422891305      3350      4519
4         2             0      3   4582,6727773595      3600       -13

         brutoink_f nettoink nettoink_f
0  2247,01636189637     1588       1588
1              4250     2700       2700
2  6487,19108758918     4400       4400
3              4519     3100       3100
4  3432,79404639575     2600       2600
   nomem_encr  geslacht  gender  gebjaar  leeftijd  lftdcat lftdhhh burgstat  \
0      800001         1       1     1961        62        6      62        5
1      800002         1       1     1976        46        5      46        1
2      800009         1     999     1955        68        7      68        1
3      800015         1     999     1962        61        6      61        1
4      800028         1       1     1950        73        7      73        1

   woonvorm herkomstgroep oplcat    brutohh_f nettohh_f brutoink   brutoink_f  \
0         2           201      5  5501,786713      3709      -13  3804,979767
1         3             0      4         7040      4240     5000         5000
2         2             0      5  8451,613339      5800      -13  6487,191088
3         3           102      6  4973,454229      3492     4679         4679
4         2             0      3  4582,672777      3600      -13  3432,794046

  nettoink nettoink_f
0     2450       2450
1     3000       3000
2     4400       4400
3     3242       3242
4     2600       2600

In [72]:
import pandas as pd

# Merge the DataFrames on 'nomem_encr'
merged_df = df_selected_health22

# Sequentially merge each DataFrame on 'nomem_encr'
merged_df = merged_df.merge(df_selected_personality22, on='nomem_encr', how='outer')
merged_df = merged_df.merge(df_selected_snacking22, on='nomem_encr', how='outer')
merged_df = merged_df.merge(df_selected_religion22, on='nomem_encr', how='outer')
merged_df = merged_df.merge(df_selected_socialmedia22, on='nomem_encr', how='outer')
merged_df = merged_df.merge(df_selected_politics22, on='nomem_encr', how='outer')
merged_df = merged_df.merge(df_selected_background22, on='nomem_encr', how='outer')

# Display the first few rows of the merged DataFrame
print(merged_df.head())

  ch22o011 ch22o012 ch22o013 ch22o014 ch22o015 ch22o162  nomem_encr cp22n020  \
0        2        2        4        2        4        1      800001      NaN
1        4        1        4        1        5        1      800002        3
2        1        1        5        1        4        1      800009        4
3        1        1        4        1        4        1      800015        2
4        2        1        5        1        5        1      800028        3

  cp22n021 cp22n022  ... burgstat woonvorm herkomstgroep oplcat  \
0      NaN      NaN  ...      5.0      2.0           201      5
1        2        4  ...      1.0      3.0             0      4
2        1        4  ...      1.0      2.0             0      5
3        3        4  ...      1.0      3.0           102      6
4        2        3  ...      1.0      2.0             0      3

          brutohh_f nettohh_f brutoink        brutoink_f nettoink nettoink_f
0  3648,10832897175      2651    -13.0  2247,01636189637     1588       1588
1              6300      3960   4250.0              4250     2700       2700
2  8451,61333892468      5800    -13.0  6487,19108758918     4400       4400
3  4813,45422891305      3350   4519.0              4519     3100       3100
4   4582,6727773595      3600    -13.0  3432,79404639575     2600       2600

[5 rows x 136 columns]

In [74]:
print(merged_df.head())  # Display the first few rows
print(merged_df.shape)    # Display the number of rows and columns

  ch22o011 ch22o012 ch22o013 ch22o014 ch22o015 ch22o162  nomem_encr cp22n020  \
0        2        2        4        2        4        1      800001      NaN
1        4        1        4        1        5        1      800002        3
2        1        1        5        1        4        1      800009        4
3        1        1        4        1        4        1      800015        2
4        2        1        5        1        5        1      800028        3

  cp22n021 cp22n022  ... burgstat woonvorm herkomstgroep oplcat  \
0      NaN      NaN  ...      5.0      2.0           201      5
1        2        4  ...      1.0      3.0             0      4
2        1        4  ...      1.0      2.0             0      5
3        3        4  ...      1.0      3.0           102      6
4        2        3  ...      1.0      2.0             0      3

          brutohh_f nettohh_f brutoink        brutoink_f nettoink nettoink_f
0  3648,10832897175      2651    -13.0  2247,01636189637     1588       1588
1              6300      3960   4250.0              4250     2700       2700
2  8451,61333892468      5800    -13.0  6487,19108758918     4400       4400
3  4813,45422891305      3350   4519.0              4519     3100       3100
4   4582,6727773595      3600    -13.0  3432,79404639575     2600       2600

[5 rows x 136 columns]
(11394, 136)

In [76]:
# Check for duplicates
duplicates = merged_df.duplicated()

# Count the number of duplicate rows
num_duplicates = duplicates.sum()

# Display the number of duplicates
print(f"Number of duplicate rows: {num_duplicates}")

# Check for missing values in the DataFrame
missing_values = merged_df.isnull().sum()

# Display the number of missing values for each column
print("Missing values in each column:")
print(missing_values[missing_values > 0])  # Only show columns with missing values
# Total number of missing values in the DataFrame
total_missing = missing_values.sum()
print(f"Total number of missing values in the DataFrame: {total_missing}")
# Drop rows with any missing values
merged_df = merged_df.dropna()

Number of duplicate rows: 0
Missing values in each column:
ch22o011      5562
ch22o012      5562
ch22o013      5562
ch22o014      5562
ch22o015      5562
              ...
nettohh_f      134
brutoink       134
brutoink_f     134
nettoink       134
nettoink_f     134
Length: 135, dtype: int64
Total number of missing values in the DataFrame: 671587

In [96]:
# Drop rows with any missing values
merged_df = merged_df.dropna()

# Get the shape of the cleaned DataFrame
num_rows, num_columns = merged_df.shape
print(f"After dropping missing values, the DataFrame has {num_rows} rows and {num_columns} columns.")

# Define the file path where you want to save the cleaned data
output_file_path = 'C:/Users/u1246538/Downloads/liss-data/merged_health_data_2022_cleaned.csv'

# Save the cleaned DataFrame to a CSV file
merged_df.to_csv(output_file_path, index=False)

# Confirm that the data was saved successfully
print(f"Cleaned data saved to: {output_file_path}")

After dropping missing values, the DataFrame has 995 rows and 136 columns.
Cleaned data saved to: C:/Users/u1246538/Downloads/liss-data/merged_health_data_2022_cleaned.csv

In [86]:
import pandas as pd

# let op eerst heb ik de datasets pd.concat gedaan. hierddoor kreeg ik in de merged dataset 5 kollomen van nomem_encr. concat zet de kollomen achter elkaar maar merge join ze op nomem_encr en dan heb ik 1 kolom van nomem_encr

# Extract the 'nomem_encr' and 'ch22o162' column from df_selected_health22
df_health22_ch22o162 = df_selected_health22[['nomem_encr', 'ch22o162']]

# Start by merging df_selected_health23 with 'ch22o162' from df_selected_health22
merged_df_2023 = df_selected_health23.merge(df_health22_ch22o162, on='nomem_encr', how='outer')

# Sequentially merge the other DataFrames on 'nomem_encr'
merged_df_2023 = merged_df_2023.merge(df_selected_personality22, on='nomem_encr', how='outer')
merged_df_2023 = merged_df_2023.merge(df_selected_snacking22, on='nomem_encr', how='outer')
merged_df_2023 = merged_df_2023.merge(df_selected_religion22, on='nomem_encr', how='outer')
merged_df_2023 = merged_df_2023.merge(df_selected_socialmedia22, on='nomem_encr', how='outer')
merged_df_2023 = merged_df_2023.merge(df_selected_politics22, on='nomem_encr', how='outer')
merged_df_2023 = merged_df_2023.merge(df_selected_background22, on='nomem_encr', how='outer')

# Display the shape of the merged DataFrame
print("\nShape of the merged DataFrame:")
print(merged_df_2023.shape)

# Display the first few rows of the merged DataFrame
print("\nFirst few rows of the merged DataFrame:")
print(merged_df_2023.head())

Shape of the merged DataFrame:
(12421, 136)

First few rows of the merged DataFrame:
  ch23p011 ch23p012 ch23p013 ch23p014 ch23p015  nomem_encr ch22o162 cp22n020  \
0      NaN      NaN      NaN      NaN      NaN      800001        1      NaN
1        3        1        4        3        4      800002        1        3
2        1        1        5        2        4      800009        1        4
3        1        1        4        1        3      800015        1        2
4        2        1        4        1        4      800028        1        3

  cp22n021 cp22n022  ... burgstat woonvorm herkomstgroep oplcat  \
0      NaN      NaN  ...      5.0      2.0           201      5
1        2        4  ...      1.0      3.0             0      4
2        1        4  ...      1.0      2.0             0      5
3        3        4  ...      1.0      3.0           102      6
4        2        3  ...      1.0      2.0             0      3

          brutohh_f nettohh_f brutoink        brutoink_f nettoink nettoink_f
0  3648,10832897175      2651    -13.0  2247,01636189637     1588       1588
1              6300      3960   4250.0              4250     2700       2700
2  8451,61333892468      5800    -13.0  6487,19108758918     4400       4400
3  4813,45422891305      3350   4519.0              4519     3100       3100
4   4582,6727773595      3600    -13.0  3432,79404639575     2600       2600

[5 rows x 136 columns]

In [92]:
# Drop duplicates if any
merged_df_2023 = merged_df_2023.drop_duplicates()

# Drop rows with any missing values (NaN)
merged_df_2023_cleaned = merged_df_2023.dropna()

# Display the shape of the cleaned merged DataFrame
print("\nShape of the cleaned merged DataFrame (2023):")
print(merged_df_2023_cleaned.shape)

# Optionally, you can also check the missing values count before dropping
print("\nMissing values per column before dropping rows:")
print(merged_df_2023.isnull().sum())

# Optionally, display the first few rows of the cleaned DataFrame
print("\nFirst few rows of the cleaned merged DataFrame (2023):")
print(merged_df_2023_cleaned.head())

Shape of the cleaned merged DataFrame (2023):
(895, 136)

Missing values per column before dropping rows:
ch23p011      0
ch23p012      0
ch23p013      0
ch23p014      0
ch23p015      0
             ..
nettohh_f     0
brutoink      0
brutoink_f    0
nettoink      0
nettoink_f    0
Length: 136, dtype: int64

First few rows of the cleaned merged DataFrame (2023):
   ch23p011 ch23p012 ch23p013 ch23p014 ch23p015  nomem_encr ch22o162 cp22n020  \
3         1        1        4        1        3      800015        1        2
12        1        1        6        1        1      800100        1        3
27        1        1        4        3        2      800201        1        4
33        1        1        4        1        3      800228        1        3
45        3        1        5        1        4      800392        1        4

   cp22n021 cp22n022  ... burgstat woonvorm herkomstgroep oplcat  \
3         3        4  ...      1.0      3.0           102      6
12        4        4  ...      1.0      3.0           102      4
27        2        4  ...      1.0      2.0             0      4
33        2        2  ...      1.0      2.0             0      6
45        3        2  ...      1.0      3.0             0      4

           brutohh_f nettohh_f brutoink brutoink_f nettoink nettoink_f
3   4813,45422891305      3350   4519.0       4519     3100       3100
12              3845      3330   2000.0       2000     1800       1800
27              4600      3850   2200.0       2200     1900       1900
33   6661,8642040255      4540   4800.0       4800     3000       3000
45              5994      4083   3294.0       3294     2183       2183

[5 rows x 136 columns]

In [98]:
# Save the cleaned merged dataset to a CSV file
merged_df_2023_cleaned.to_csv('merged_df_2023_cleaned.csv', index=False)

# Optionally, you can save the original merged dataset (before dropping rows with missing values) as well
#merged_df_2023.to_csv('merged_df_2023.csv', index=False)

print("Merged dataset has been saved successfully.")

Merged dataset has been saved successfully.